
/*Colors*/

$color-palette-dark: (
    'secondary-3': #6d5cbd,
    'background': #19182a,
    'surface': #23203d,
    'on-background': #E8EAF4,
    'on-surface': #E8EAF4,
    'on-background-opaque': #3b358e,
    'on-surface-opaque': #3b358e,
    'gradient-surface': linear-gradient(162deg, rgba(40,36,77,1) 0%, rgba(35,32,61,1) 78%),
);


/*Font sizes*/
$font-sizes: (
    'title-xxl': 6.2rem,
    'title-xl': 5.2rem,
    'title-lg': 4.2rem,
    'title-md': 3.8rem,
    'title-sm': 3.2rem,
    'subtitle-lg': 2.6rem,
    'subtitle-md': 2.2rem,
    'subtitle-sm': 1.8rem,
    'subtitle-xs': 1.6rem,
    'body-xl': 2.2rem,
    'body-lg': 1.8rem,
    'body-md': 1.6rem,
    'body-sm': 1.4rem,
    'caption-lg': 1.4rem,
    'caption-md': 1.2rem,
    'caption-sm': 1.0rem,
    'button-lg': 1.8rem,
    'button-md': 1.6rem,
    'button-sm': 1.4rem,
    'button-xs': 1.2rem

);


/*Breakpoints*/
$break-points: (
    'phone-xs': 28rem,
    'phone-sm': 32rem,
    'phone-md': 36rem,
    'phone-lg': 41rem,
    'phone-xl': 48rem,
    'tablet-sm': 60rem,
    'tablet-md': 76.8rem,
    'tablet-lg': 80rem,
    'tablet-xl': 96rem,
    'desktop-xs': 102.4rem,
    'desktop-sm': 128rem,
    'desktop-md': 136.6rem,
    'desktop-lg': 153.6rem,
    'desktop-xl': 192rem
);

/*Fonts Family*/
$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Inter', sans-serif;
